.vca {
  background-image: url(../images/icone.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 30px;
}
.vca select,
.vca input[type=text] {
  width: 450px;
}
.vca select {
  height: 175px!important;
}
